.column.information {
  float: left;
  width: 35%;
}

.column.map {
  float: left;
  width: 65%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.disabled-form {
  border-color: transparent;
  background-color: #e9ecef;
}

.disabled-form:hover {
  cursor: default;
}


.disabled-form:focus {
  border-color: transparent;
  box-shadow: none;
}

.schedule-res {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  font-size: 15px;
  font-weight: 600;
}

.results {
  height: calc(100vh/1.5);
  bottom: 0;
}
