<!DOCTYPE html>
<html>
  <head>
    <title>Rasp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="main">
    <div class="container-fluid wrapper d-flex justify-content-center">
      <%= yield %>
    </div>
  </body>
</html>
